.autolist {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 0 0.25rem !important;
}

li:hover {
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
}

.active__item {
  background-color: #1e90ff !important;
  color: white !important;
}
